/*
	Style information for FINsert
*/

#header {
	margin-left: auto;
	margin-right: auto;
	width: 698px;
	height: 221px;
	border: 4px solid gray;
	padding: 0px;
}

a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: underline; color: red;}

body {
	font-family:"verdana", "lucida sans", "lucida grande", sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:400;
	font-size:18px;
	line-height:normal;
	text-align:center;
	background-color: #1B2F3A;
	margin: 0px;
}

#captcha {
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}

h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 48px;
	font-weight: bold;
	margin: 0px;
}

h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
	font-weight: normal;
	margin: 0px;
}

.content {
	background-color: #eaf3f7;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid gray;
	padding: 0px;

}