/*
# contact: gajok@cs.washington.edu
*/


body {
	font-family: Verdana, Tahoma, sans-serif; 
	color:#D9D6D2;  
	font-size: 13pt;
	text-align: center;
	background-image: url("http://students.washington.edu/dongm/454/img/grain.jpg");
	padding: 5px;
}

a {
	color: #F44;
	text-decoration: none;
	font-size: 15pt;
}

a:hover {
	background-color: #FFA;
}

a img {
	border: none;
	width: 32px;
	height: 32px;
}

li {
	margin-top: 40px;
	margin-bottom: 50px;
}

form {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	width: 32em;
}

legend {
	border: 2px outset gray;
	padding: 0.2em;
	color: E01B6D;
}

fieldset, fieldset div, legend {
	background-image: url("http://students.washington.edu/dongm/454/img/images.jpg");
	border: 2px outset gray;
	color: E01B6D;
}

fieldset strong{
	float: left;
	width: 12em;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-collapse: collapse;
    caption-side: top;
    width:80%;
    float: left;
}

th {
    background-color: #00FFFF;
}

td, th {
	color: #E01B6A;
	font-style: italic;
	padding-left: 5px;
	padding-right: 5px;
	border: 2px solid black;
}

div span{
	position: fixed;
	right: 5%;
	top: 5%;
	margin: 5px;
	background-color: #FFE4C4;
}

div strong{
	margin-top:3px;
	margin-left: 10px;
}

div {
	margin-top: 0.5em;
}

ul {
	list-style-type: none;
	padding-left: 0em;
}

img {
	vertical-align: middle;
}

.busy1, .busy2{
	margin-top: 10px;
	margin-bottom: 5px;
}

.odd {
	background-color: #FFE4C4;
}

.even {
	background-color: #F0F8FF;
}

.reorder{
	border:0;
}

.user_item{
	margin-left:2%;
	width: 45%;
	float: left;
}

.user {
	margin-left: auto;
	margin-right: auto;
	width: 45%;
}

.del_buts{
	float: right;
}

.button_set{
	margin-bottom: 5px;
}

#menu_name {
	width:90px;
}

#new_menu div{
	margin-top: 2px;
}

#new_menu {
	color: #E01B6A;
}

#map {
	margin-left: auto;
	margin-right:auto;
	margin-top:120px;
}

#route {
	margin-top: 105px;
	padding-top: 0;
}

#explain {
	color: #F0FFF0;
	margin-top:140px;
}

#table_start{
	margin-top:140px;
}

#turnin {
	color: #E01B6A;
	position: fixed;
	top: 0;
	left:50%;
	margin-left:-310px;
}

#signup{
	float: right;
}

#signup strong {
	margin-left: 0;
}

#see_map{
	width: 200px;
}

#bannerarea {
	font-weight: bold;
	margin-top: 1px;
	height: 22px; 
	vertical-align: middle;
	background-repeat: repeat-x;
	background-image: url("http://students.washington.edu/dongm/454/img/bannerbg.png");
}

#bannerarea strong{
	float: left;
	margin-top:0;
}

#home strong{
	margin:5px;
}

#home {
	font-size: 25px;
	color: #B50049;
	border: 3px solid grey;
	background-image: url("http://students.washington.edu/dongm/454/img/images.jpg");
	position: fixed;
	top: 75px;
	left:50%;
	margin-left: 300px;
}

#added_menu {
	background-image: url("http://students.washington.edu/dongm/454/img/images.jpg");
	width: 200px;
	position: fixed;
	top: 55%;
	right:4%;
}

#rest_info {
	float: right;
	width: 18%;
	margin-right: 2%;
	margin-top: 135px;
}

#copyright > p{
	position: fixed;
	left: 30px;
	bottom: 10px;
	clear: both;
}

#validator{
	position: fixed;
	right: 0%;
	bottom: 0%;
	clear: both;
}

#validator img{
	border: none;
}
