/*
Donghyo Min, Eric Hare
*/


body {
	font-family: Verdana, Tahoma, sans-serif; 
	color:#D9D6D2;  
	font-size: 10pt;
	text-align: center;
	background-image: url("http://students.washington.edu/dongm/454/img/grain.jpg");
	padding: 5px;
}

a {
	color: #F44;
	text-decoration: none;
	font-size: 15pt;
}

a:hover {
	background-color: #FFA;
}

a img {
	border: none;
	width: 32px;
	height: 32px;
}

li {
	margin-top: 40px;
	margin-bottom: 50px;
}

form {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	width: 35em;
}

legend {
	border: 2px outset gray;
	padding: 0.2em;
	color: E01B6D;
}

fieldset, fieldset div, legend {
	background-image: url("http://students.washington.edu/dongm/454/img/images.jpg");
	border: 2px outset gray;
	color: E01B6D;
}

table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    caption-side: top;
}

th {
    background-color: #00FFFF;
}

td, th {
	color: #E01B6A;
	font-style: italic;
	padding-left: 5px;
	padding-right: 5px;
	border: 2px solid black;
}
div span{
	position: fixed;
	right: 5%;
	top: 5%;
	margin: 5px;
	background-color: #FFE4C4;
}
div {
	margin-top: 0.5em;
}

.odd {
	background-color: #FFE4C4;
}

.even {
	background-color: #F0F8FF;
}

#map {
	margin-left: auto;
	margin-right:auto;
}

#expalin {
	color: #F0FFF0;
}

#bannerarea {
	font-weight: bold;
	top: 20px;
	margin-bottom: 2em;
	height: 50px; 
	background-repeat: repeat-x;
	background-image: url("http://students.washington.edu/dongm/454/img/bannerbg.png");
}

#copyright > p{
	position: fixed;
	left: 30px;
	bottom: 10px;
	clear: both;
}
ul {
	list-style-type: none;
	padding-left: 0em;
}

#validator{
	position: fixed;
	right: 0%;
	bottom: 0%;
	clear: both;
}

#validator img{
	border: none;
}
